.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
*{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
body{
    height: 2500px;
    background: #efefef;
}
